<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv"
            class="cv.CvPackage"
            genModel="model/cv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv/content"
            class="cv.content.ContentPackage"
            genModel="model/cv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv/section"
            class="cv.section.SectionPackage"
            genModel="model/cv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv/workexp"
            class="cv.workexp.WorkexpPackage"
            genModel="model/cv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv/edutrain"
            class="cv.edutrain.EdutrainPackage"
            genModel="model/cv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv -->
      <package
            uri="http://cvmodel/cv/identification"
            class="cv.identification.IdentificationPackage"
            genModel="model/cv.genmodel"/>
   </extension>

</plugin>
