<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cv -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cv.presentation.CvModelWizardID"
            name="%_UI_CvModelWizard_label"
            class="cv.presentation.CvModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CvModelFile.gif">
         <description>%_UI_CvModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cv -->
      <editor
            id="cv.presentation.CvEditorID"
            name="%_UI_CvEditor_label"
            icon="icons/full/obj16/CvModelFile.gif"
            extensions="cv"
            class="cv.presentation.CvEditor"
            contributorClass="cv.presentation.CvActionBarContributor">
      </editor>
   </extension>

</plugin>
